<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DictionaryUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DictionaryUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings> 
      <add name="LearnDictionaryEntities" connectionString="metadata=res://*/ModelProviders.EFModel.EF_Model.csdl|res://*/ModelProviders.EFModel.EF_Model.ssdl|res://*/ModelProviders.EFModel.EF_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LearnDictionaryMvvM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    </connectionStrings>
    <userSettings>
        <DictionaryUI.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>1</value>
            </setting>
        </DictionaryUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DictionaryUI.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>LearnDictionary</value>
            </setting>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>LearnUser</value>
            </setting>
        </DictionaryUI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
