<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="LearnDictionaryEntities" connectionString="metadata=res://*/ModelProviders.EFModel.EF_Model.csdl|res://*/ModelProviders.EFModel.EF_Model.ssdl|res://*/ModelProviders.EFModel.EF_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUMIX-OL;initial catalog=LearnDictionaryMvvM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LearnDictionaryEntities4" connectionString="metadata=res://*/ModelProviders.EFModel.EF_Model.csdl|res://*/ModelProviders.EFModel.EF_Model.ssdl|res://*/ModelProviders.EFModel.EF_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SUMIX-OL;initial catalog=LearnDictionaryMvvM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>